.login {
    font-family: medium-ui-sans-serif-text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    background-color: #f1f1f3;
    padding: 25px;
    border-radius: 2.5px;
    .user {
        &__username,
        &__password {
            font-weight: 400;
            border-radius: 2px;
        }
        .hypothesis__button {
            background-color: #5e0231;
            color: #f0f0f0;
            width: 150px;
            font-weight: 600;
        }
    }
}

.error-message {
    font-size: 0.75em;
    color: #a94442;
}