<div class="home-container">
    <div class="col-md-12 col-sm-12 header">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 form-group user">
            <span class="user__details">Kristina Murgovska</span>
            <span class="user__details pull-right text-right">
                <img class="user__profile">
                <button class="btn hypothesis__button-logout"><a [routerLink]="['/login']"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a></button>
            </span>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 form-group user">
            <form>
                <div class="form-group user">
                    <label for="comment" class='user__comment'>Comment</label>
                    <input type="text" class="form-control user__comment" name="comment" [(ngModel)]="model.comment" #comment="ngModel" required />
                </div>
            </form>
        </div>
    </div>
</div>